header {
    background-image: url('/Users/ashleyhorne/Desktop/generation/Dasmoto_art_craft/resources/images/tile_pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-transform:capitalize;
    color: khaki;
    text-align: center;
}

#brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

h4 {
    text-transform: capitalize;
    font-family: Helvetica;
    color: black;
}

p {
    color: black;
}

.price-start {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}