header {
    background-image: url('/Users/ashleyhorne/Desktop/generation/Dasmoto_art_craft/resources/images/tile_pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-transform:capitalize;
    color: khaki;
    text-align: center;
}